/* app prefix: mr */
/** app-scope classes **/

.mr-button
	cursor: pointer
	width: 100%
	background: $action-color
	text-decoration: none
	border: none
	color: white
	&[href]
		color: white
	display: block
	text-align: center
	&:disabled
		opacity: .5
	font-size: 16px
	padding: 20px 0px
	&:active
		background: $action-active-color

.mr-text-link
	cursor: pointer
	color: black
	padding: 10px 0px
	&[href]
		text-decoration: underline

.mr-input
	width: 100%
	max-width: 100%
	@include box-sizing(border-box)
	border: none
	padding: 11px 14px
	border: 1px solid $separator-color
	@include respond-to(handhelds)
		border-left: none
		border-right: none
	font-size: 19px
	color: $input-text-color
	margin: 0

.mr-search
	@include respond-to(except-handhelds)
		padding-right: 65px
	@include appearance(textfield)
	@include icon(magnifier)
	background-position: 95% 55%
	@include respond-to(handhelds)
		background-position: 10px 55%
		padding-left: 45px
		padding-right: 50px

.mr-arrow
	background-position: center
	@include icon(arrow)
	@include hide-text
	display: inline-block
	&:active
		@include icon(arrow-subtle)

.mr-search-area
	@include respond-to(except-handhelds)
		width: 320px
	position: relative
	overflow: visible
	input
		position: relative
	div
		position: absolute
		width: 100%
	ul
		border: 1px solid $subtle-text-color
		border-top: none
		background: white
		li
			cursor: pointer
			color: black
			&:not(:last-child)
				border-bottom: 1px solid $separator-color
			a
				padding: 15px 20px
				display: block
				&:hover
					background: $separator-color
	.mr-x
		display: none
		background-position: center
		position: absolute
		@include hide-text
		cursor: pointer
		width: 50px
		height: 100%
		@include icon(x)
		z-index: 1
		&.enabled
			display: inline-block
		@include respond-to(handhelds)
			right: 0
		@include respond-to(except-handhelds)
			right: 20px

.mr-review-list
	@include columns(20px 2)
	line-height: 32px
	font-size: 18px
	@include respond-to(handhelds)
		@include columns(1)
	li
		a
			margin-right: 10px
	mr-rating
		float: none
		display: inline-block

.mr-view-wrap
	width: 80%
	@include respond-to(small-screens)
		width: auto
	@include respond-to(handhelds)
		width: auto

.mr-rating-title
	display: table
	.mr-score
		font-size: 18px
	> span, mr-rating
		float: left
		display: table-cell
		vertical-align: middle
		@include respond-to(handhelds)
			display: block
	mr-rating
		@include respond-to(handhelds)
			margin-top: 10px
			clear: left
	> span
		padding-right: 10px

.mr-space
	display: block
	@include respond-to(handhelds)
		padding-left: $side-space
		padding-right: $side-space

.mr-reviewer
	margin-bottom: 10px
	display: table
	time, mr-rating
		display: table-cell
		vertical-align: middle
	time
		padding-left: 8px

.mr-input-area
	textarea
		min-height: 150px

.mr-form
	margin: 20px 0px
	button
		margin-top: 20px
	label
		position: relative
		display: block
	.mr-form-error
		color: $warning-color
		@include respond-to(except-handhelds)
			right: 0
			top: 0
			line-height: 46px
			padding-right: 15px
			position: absolute
		@include respond-to(handhelds)
			padding: 11px
			display: block

.mr-proper-case
	text-transform: capitalize

.mr-action-text
	color: $action-color

.mr-loader
	@include icon(loader)
	width: 40px
	height: 40px
	display: inline-block
	position: absolute
	left: 50%
	top: 50%
	margin-left: -20px
	margin-top: -20px
	@include hide-text

.mr-load-overlay
	background: rgba(255, 255, 255, .5)
	position: fixed
	top: 0
	z-index: $infinity
	height: 0px
	width: 100%
	visibility: hidden
	opacity: 0
	&.visible
		@include transition-property(opacity)
		@include transition-duration(.5s)
		height: 100%
		visibility: visible
		opacity: 1
		

